*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
}

div {
  color: #222;
  background: #222;
}

p {
  padding: 20px;
}

/* Code Under This Line */
.wrapper {
  width: 96%;
  margin: 20px auto;
}

.a {
  color: #333;
  background: #333;
}
.b {
  color: #444;
  background: #444;
}
.c {
  color: #555;
  background: #555;
}
.d {
  color: #666;
  background: #666;
}
.e {
  color: #777;
  background: #777;
}

/* -- Column Sizes -- */

.one_fourth   { width: 23.45%; }
.one_third    { width: 31.66%; }
.one_half     { width: 48.1%; }
.two_third    { width: 61.666%; }
.one_fifth    { width: 18.5%; }
.one_sixth    { width: 15.225%; }
.one_seventh  { width: 12.85%; }
.one_eighth   { width: 11.1%; }
.one_nineth   { width: 9.74%; }
.one_tenth    { width: 8.645%; }
.one_eleventh { width: 7.75%; }
.one_twelth   { width: 7%; }
.three_fourth { width: 69.75%; }
.one_column   { width: 97.5%; }
.full_column  { width: 100%; }

/* -- Column Margin & Float-- */
.one_half,.one_third,.two_third,
.three_fourth,.one_fourth,.one_fifth,.one_sixth,.one_seventh,.one_column,
.one_eighth,.one_nineth,.one_tenth,.one_eleventh, .one_twelth,.full_column {
  margin-left: 1.2%;
  margin-top:1%;
  float:left;
}

/* -- Clearfix -- */
  .row:after {
    content: " ";
    display: table;
    clear: both;
  }
